<div>
  <%= flash[:notice] %>
</div>

<%= render 'info', user: @user %>

<% if @user == current_user %>
  <P><%= link_to "Edit", edit_user_path(@user) %></P>
<% else %>
  <P><%= link_to "Edit", user_path(current_user.id) %></P>
<% end %>

<%= render 'books/form', book: @book_new %>


<h1>Books</h1>
<div>
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </table>
</div>
