<%= render 'info', user: @user %>

<P><%= link_to "Edit", edit_user_path(@user) %></P>

<%= render 'books/form', book: @book_new %>


<h1>Books</h1>
<div>
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag @user.get_profile_image(100,100) %></td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </table>
</div>
